@if (errorMessage()) {
<div class="error-message">
  <p>{{ errorMessage() }}</p>
</div>
} @if (needCalendarId()) {
<div class="search-container">
  <label for="calendarId">Calendar ID</label>
  <input
    id="calendarId"
    [ngModel]="inputCalendarId()"
    (ngModelChange)="inputCalendarId.set($event)"
    placeholder="Enter Calendar ID"
  />
  <label for="serverSearch">Server-side Search</label>
  <input
    id="serverSearch"
    [ngModel]="serverSideSearch()"
    (ngModelChange)="serverSideSearch.set($event)"
    placeholder="Enter search term for server"
  />
  <button (click)="submitParameters()">Fetch Events</button>
</div>
} @else {
<div class="search-container">
  <label for="searchTerm">Search events</label>
  <input
    type="text"
    id="searchTerm"
    [ngModel]="searchInput()"
    (ngModelChange)="onSearchInputChange($event)"
    name="searchTerm"
  />
  @if (inputCalendarId()) {
  <a
    href="https://calendar.google.com/calendar/embed?mode=AGENDA&src={{
      inputCalendarId()
    }}"
    target="_blank"
    aria-label="Open in Google Calendar"
  >
    <app-icon name="calendar_today"></app-icon>
  </a>
  }
</div>
} @if (isLoading()) {
<div class="spinner-container">
  <div class="spinner"></div>
</div>
} @else if (searchResults().matched.length === 0 &&
searchResults().unmatched.length === 0 && !errorMessage() && !needCalendarId())
{
<div>
  <p>No events found</p>
</div>
} @else {
<div>
  <!-- Matched Events -->
  @if (searchResults().matched.length > 0) {
  <div>
    @for (event of searchResults().matched; track event.id) {
    <div>
      <app-event-item [event]="event" />
    </div>
    }
  </div>
  }

  <!-- Unmatched Events -->
  @if (searchResults().unmatched.length > 0) {
  <hr />
  <h2>Other Events</h2>
  <div>
    @for (event of searchResults().unmatched; track event.id) {
    <div>
      <app-event-item [event]="event" />
    </div>
    }
  </div>
  }
</div>
}
