:host {
  display: block;
  margin: 1em;
}

.search-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  flex-grow: 0;

  .search-box {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .search-icon {
    position: absolute;
    left: 10px;
    color: #888;
  }

  input[type="text"] {
    padding: 8px 8px 8px 35px; /* Left padding to make space for the icon */
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    flex-grow: 1;

    &:focus {
      border-color: #007bff;
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      outline: none;
    }
  }
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

// .search-container {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
//   gap: 0.5rem;
//   margin-bottom: 1rem;

//   label {
//     margin-right: 0.5rem;
//   }

//   input {
//     flex: 1;
//     padding: 0.5rem;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//   }

//   button {
//     padding: 0.5rem 1rem;
//     border: none;
//     background-color: #007bff;
//     color: white;
//     border-radius: 4px;
//     cursor: pointer;
//   }
// }

.search-button-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
