<mat-card appearance="outlined">
  <mat-card-header (click)="toggleExpansion()">
    <mat-card-title>{{ event().title }}</mat-card-title>
    <mat-card-subtitle>
      <div class="subtitle-group">
        @if(event().start === event().end) {
        <span>{{ event().start | date : "longDate" }}</span>
        } @else {
        <span
          >{{ event().start | date : "longDate" }} -
          {{ event().end | date : "longDate" }}</span
        >
        } @if(event().location) {
        <span>{{ event().location }}</span>
        } @if(event().googleMapsUrl) {
        <a
          [href]="event().googleMapsUrl"
          target="_blank"
          rel="noopener noreferrer"
          title="View on Google Maps"
        >
          <mat-icon>map</mat-icon>
        </a>
        } @if(event().googleCalEventLink) {
        <a
          [href]="event().googleCalEventLink"
          target="_blank"
          rel="noopener noreferrer"
          title="View on Google Calendar"
        >
          <mat-icon>event</mat-icon>
        </a>
        }
      </div>
    </mat-card-subtitle>
    <button mat-icon-button>
      <mat-icon>{{ isExpanded() ? "expand_less" : "expand_more" }}</mat-icon>
    </button>
  </mat-card-header>
  @if (isExpanded()) {
  <mat-card-content>
    <div class="description">
      <span [innerHTML]="event().description"></span>
    </div>
  </mat-card-content>
  }
</mat-card>
