:host {
  width: 100%;
  display: block;
  margin-bottom: 1em;
}

.subtitle-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  a {
    color: #631e42;
    text-decoration: underline;
  }
}

mat-card-actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
